#titulo{
  text-align: center;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 74, 158);
  background-color: rgb(0, 74, 158);
  border-radius: 15px;
  font-family: Blippo, fantasy;
  color: rgb(255, 255, 255);
}
#cadastrar,#esqueceuasenha{
  border: 0px;
  color: rgb(0, 119, 255);
  background-color: rgb(255, 255, 255);
  text-decoration: underline;
}
#cadastrar:hover,#esqueceuasenha:hover{
  cursor: pointer;
  color: rgb(108, 174, 254);
  background-color: rgb(255, 255, 255);
}
.hidden{
  display: none;
}
#principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  flex-direction: column;
  gap: 120px;
}
#principal button{
  width: 200px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(0, 74, 158);
  color: white;
}
#principal h1{
  text-align: center;
  font-size: 2.5em;
  justify-content: center;
  align-items: center;
  font-family:Comic Sans MS, Comic Sans, cursive;
}
#principal img{
  width: 250px;
  height: 350px;
  border-radius: 20px;
  position: absolute;
  box-shadow: 5px 5px 7px;
}
#fotoprincipal1{
  top: 145px;
  left: 30px;
}
#fotoprincipal2{
  top: 145px;
  right: 30px;
}
#rodape{
  text-align: center;
}
#footer{
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  border: 0px solid black;
  background-color: white;
  width: 100%;
  left: 0px;
}
